Admin

<ul>
 <li> 
    <% if dwolla_token %>
      Dwolla Authorized (<a href="./dwolla/deauth">remove</a>)
    <% else %>
      <a href="./dwolla/auth">auth dwolla</a> 
    <% end %>
 </li>

 <li>
   Redis is: <%= redis_up ? "Up" : "Down" %>
 </li>
</ul>