<!doctype html>
<html>
 <head>
 <link type="text/css" rel="stylesheet" href="css/style.css" />
 <script src="js/jquery-1.6.2.min.js"></script>
 </head>
<body>
 <script>
  jQuery(function(){ })
 </script>
 <div class="page">
 <form action="create" method="post">
 
 <div class="madmax">
  Create a contract.
 </div>

 <div class="row1">
   <span class=" roundinput">
    <input size="2" name="btc"> BTC
   </span>
   <span class="">
    <span>in exchange for</span>
   </span>
   <span class=" roundinput">
    <input size="2" name="usd"> $USD
   </span>
 </div>
 <div class="submitgo">
  <input type="submit" value="Create the deal" >
 </div>
 </form>
 </div>
</body>
</html>
