 <div class="page">
 <form action="create" method="post">
 
 <div class="madmax">
  Create a contract.
 </div>

 <div class="row1">
   <span class=" roundinput">
    <input size="2" name="btc"> BTC
   </span>
   <span class="">
    <span>in exchange for</span>
   </span>
   <span class=" roundinput">
    <input size="2" name="usd"> $USD
   </span>
 </div>
 <div class="submitgo">
  <input type="submit" value="Create" >
 </div>
 </form>
 </div>
