 <div class="bigpage create">
  <form action="create" method="post">

  <div class="title">
  Escrow Agreement
  </div>

  <div class="terms">
   <span class=" roundinput">
    <input size="2" name="btc"> BTC
   </span>
   <span class="">
    <span>for</span>
   </span>
   <span class=" roundinput">
    $<input size="2" name="usd"> USD
   </span>
  </div>

  <div class="submitgo">
  <input type="submit" value="Begin" >
  </div>
  </form>
 </div>
