 <div class="bigpage">
  <form action="create" method="post">

  <div class="title">
  Exchange
  </div>

  <div class="terms">
   <span class=" roundinput">
    <input size="2" name="btc"> BTC
   </span>
   <span class="">
    <span>for</span>
   </span>
   <span class=" roundinput">
    <input size="2" name="usd"> $USD
   </span>
  </div>

  <div class="submitgo">
  <input type="submit" value="Create" >
  </div>
  </form>
 </div>
