<!doctype html>
<html>
 <head>
 <link type="text/css" rel="stylesheet" href="css/style.css" />
 <script src="js/jquery-1.6.2.min.js"></script>
 </head>
<body>
 <script>
  jQuery(function(){ })
 </script>

 <div id='btcstats' class="centered">
   <% if stats %>
   btc status: <%= stats.inspect %>
   <% else %>
   bitcoind timeout
   <% end %>
 </div>

 <% if session[:notice] %>
 <div id='notice' class="centered">
  <%= session[:notice] %>
  <% session[:notice] = nil %>
 </div>
 <% end %>

 <%= yield %>
</body>
</html>
