<!doctype html>
<html>
 <head>
 <link type="text/css" rel="stylesheet" href="css/style.css" />
 <script src="js/jquery-1.6.2.min.js"></script>
 </head>
<body>
 <script>
  jQuery(function(){ })
 </script>
 <div id='btcstats'>
   bitcoin block count: <%= stats %>
 </div>
 <%= yield %>
</body>
</html>
