
Deal #<%= offer.uuid %>

 <div class="row1">
   <span class=" roundinput">
    <%= offer.btc %> BTC
   </span>
   <span class="">
    <span>has been offered for</span>
   </span>
   <span class=" roundinput">
   <%= offer.usd %> $USD
   </span>
 </div>


